.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.navbar .logo {
    width: 150px;
    display: block;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    color: #49557e;
    font-size: 18px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar-menu a {
    text-decoration: none;
    color: #49557e;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.2s ease;
}

.navbar-menu a:hover {
    color: tomato;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;
    color: tomato !important;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.navbar-right img {
    cursor: pointer;
    width: 22px;
    height: 22px;
}

.navbar-search-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 50%;
    top: -4px;
    right: -6px;
}

.navbar-right button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #49557e;
    padding: 9px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar-right button:hover {
    background-color: #fff2ef;
    border-color: tomato;
    color: tomato;
}

.navbar-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-avatar-icon {
    width: 26px !important;
    height: 26px !important;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.profile-avatar-icon:hover {
    transform: scale(1.15);
}

.navbar-right .admin-dashboard-btn {
    background-color: #fff4f2;
    color: tomato;
    border: 1px solid tomato;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-right .admin-dashboard-btn:hover {
    background-color: tomato;
    color: white;
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 130px;
    }
    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right {
        gap: 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 115px;
    }
    .navbar-menu {
        gap: 15px;
        font-size: 15px;
    }
    .navbar-right {
        gap: 20px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }
}